# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.build
.next
.expo

# Testing
coverage

# Environment variables
.env
.env.*
!.env.example

# Database
.prisma

# Turborepo
.turbo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
